# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database files
*.sqlite
*.sqlite3

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.tmp
*.swp